@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import "tailwindcss";

@theme inline {
  --color-brun: #3D1F0D;
  --color-or: #C9A84C;
  --color-creme: #FAF7F0;
  --color-texte: #1A1008;
  --color-brun-light: #5c2e12;
  --color-or-light: #d4b96a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAF7F0;
  color: #1A1008;
  font-family: 'Cormorant Garamond', Georgia, serif;
}
